<h1><%= @user.handle %></h1>
<br>

<% @posts.each do |post| %>
   <h4><%= post.content %></h4>
<% end %>
<br>

<h1>likes</h1>
<br>

<% @likes.each do |like| %>
   <% if like.post.user_id != @user.id %>
      <h4><%= like.post.content %></h4>
   <% end %>
<% end %>
